<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ajouter un moteur</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f4f4f4;
				margin: 0;
				padding: 0;
			}

			.container {
				max-width: 500px;
				margin: 50px auto;
				padding: 20px;
				background-color: #fff;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}

			h1 {
				text-align: center;
				margin-bottom: 20px;
			}

			form {
				display: flex;
				flex-direction: column;
			}

			label {
				font-weight: bold;
				margin-bottom: 5px;
			}

			input[type="number"] {
				padding: 10px;
				margin-bottom: 15px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}

			button[type="submit"] {
				padding: 10px 20px;
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}

			button[type="submit"]:hover {
				background-color: #0056b3;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Ajouter un moteur</h1>

			<form method="post">
				<label for="energie">Énergie :</label>
				<input type="number" id="energie" name="energie" required min='1'>

				<label for="puissance">Puissance :</label>
				<input type="number" id="puissance" name="puissance" required min='1'>

				<button type="submit">Ajouter</button>
			</form>
		</div>
	</body>
</html>
