{% extends "base.html.twig" %}

{% block body %}
<h3>Roues</h3>

<ul>
	{% for roue in roues %}
		<li><a href="{{ path('app_show_roue', {'uid':roue.id}) }}"> {{ roue.id }}</a>
			:
			{{ roue.diametre }}</li>
	{% endfor %}
</ul>
{% endblock %}
